apiVersion: v1
kind: ServiceAccount
metadata:
  name: scheduler-sa
  namespace: sopm
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: scheduler-role
  namespace: sopm-sandbox
rules:
- apiGroups: ["batch"]
  resources: ["jobs"]
  verbs: ["create", "get", "list", "watch", "delete"]
- apiGroups: [""]
  resources: ["pods", "pods/log"]
  verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: scheduler-rolebinding
  namespace: sopm-sandbox
subjects:
- kind: ServiceAccount
  name: scheduler-sa
  namespace: sopm
roleRef:
  kind: Role
  name: scheduler-role
  apiGroup: rbac.authorization.k8s.io